/functions/data.pickle
/aiUiTest.py
/playground.py
/serial nos.txt
/uip.py
/data/
/src/delivery.xlsx
/src/playground.ui
/src/PRIME - 12465 Referral Reboot - CA.xlsx
/src/PRIME - 12465 Referral Reboot - CT.xlsx
/src/report.csv
/src/untitled.ui
/tmp/07-09-23_23-55-30.json
/tmp/07-09-23_23-57-29.json
/.local-browsers/
/build/
/functions/data/
